nav{
  display: inline;
}


link {
  float: left;
}

link a {
  display: block;
  color: rgb(16, 16, 16);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

link{
  
    display: inline;
}

link {
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

/* Change the link color to #111 (black) on hover */
link a:hover {
  background-color: #111;
}